{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}

<h2>📝 Crear cuenta</h2>

{% if error %}
    <p style="color:red;"><strong>{{ error }}</strong></p>
{% endif %}

<form method="POST">
    <label>Usuario</label><br>
    <input type="text" name="usuario" required><br><br>

    <label>Contraseña</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Registrar</button>
</form>

<br>

<a href="{{ url_for('login') }}">← Volver al login</a>

{% endblock %}
